*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
}

.container-md{
  max-width: 1140px;
  margin: 0 auto;
}
.flex-direction-column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 0;
}