.sec-1{
  background: #FFFFFF;
  background: linear-gradient(90deg, rgb(255, 255, 255) 64%, rgb(194, 161, 131) 62%, rgb(194, 161, 131) 87%, rgb(255, 255, 255) 73%, rgb(255, 255, 255) 90%);
}
.happy{
  display: flex;
  justify-content: flex-end;
}
img{
  width: 80%;
  padding: 50px 0;
}
.happiness-card{
  background: #FFFFFF;
  padding: 30px 50px;
  width: 52%;
  transform: translate(35px, -260px);
  p {
    font-size: 24px;
    color: #959e8c;
    font-family: "Montserrat", sans-serif;
  }
  h3{
    font-family: "Playfair Display", serif;
    font-size: 68px;
    color: #bfa065;
    padding: 20px 0;
  }
  .special-p{
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 20px;
    font-style: italic;
    padding: 20px 0;
  }
  button{
    color: white;
    background-color: #bfa065;
    border: none;
    padding: 15px 50px;
  }
}
.sec-2{
  padding: 50px 0;
  background: #FFFFFF;
  background: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(254, 199, 34) 7%, rgb(254, 199, 34) 34%, rgb(254, 199, 34) 26%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 52%)
}
.tractor{
  display: flex;
  justify-content: flex-start;
  img{
    width: 80%;
  }
}
.tractor-card{
  background: #FFFFFF;
  padding: 30px 50px;
  width: 52%;
  transform: translate(428px, -225px);
  h3{
    font-size: 68px;
    color: #c2a183;
    padding: 20px 0;
  }
  p{
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 20px;
  }
  button{
    color: white;
    background-color: #c2a183;
    border: none;
    padding: 15px 50px;
    margin: 50px 0;
  }
}
.office{
  img{
    width: 80%;
  }
}
.office-card{
  background: #FAC421;
  color: white;
  width: 58%;
  padding: 35px 50px;
  transform: translate(475px, -210px);
  border: none;
  border-left: 10px solid white;
  border-top: 10px solid white;
h3{
    font-size: 70px;
    font-family: "Oswald", sans-serif;
  }
  p{
    font-size: 20px;
    line-height: 1.5;
    padding: 15px 0;
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  .free-p{
    font-size: 16px;
  }
  a{
    color: #c2a183;
  }
  button{
    background-color: #FAC421;
    color: white;
    font-size: 16px;
    border: 4px solid white;
    padding: 10px 30px;
    font-family: "Open Sans", sans-serif;
  }
}
.sec-4{
  background-color: #F7F7F7;
  h3{
    font-family: "Titalium Web", sans-serif;
    font-size: 72px;
    color: #bfa065;
    text-align: center;
  }
}
.coach{
  width: 50%;
  img{
    width: 100%;
  }
}
.coach-info{
  width: 47%;
}
.coach-benefits{
  width: 100%;
  display: flex
;
  i{
    color: #bfa065;
    font-size: 70px;
  }
  p{
    line-height: 1.5;
    font-size: 16px;
    color: black;
    padding: 0 30px;
    font-style: italic;
    margin: 50px 0;

  }
}
.sec-5{
  background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/69e5d54054fb5258b6602405/fgfg-min.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  padding: 70px 0;
}
.contact-cards{
  background-color:white ;
  width: 24%;
  text-align: center;
  padding: 20px;
  i{
    color: #778075;
    font-size: 75px;
  }
  h3{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 30px 0;
  }
  p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 15px 30px;
  }
}
.contact-cards2{
  background-color:white ;
  width: 24%;
  text-align: center;
  padding: 30px;
  i{
    color: #778075;
    font-size: 75px;
  }
  h3{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 30px 0;
  }
  p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 15px 30px;
  }
}
.sec-6{
  background-color: #1A1A1A;
}
.contact-info{
  background-color: black;
  color: white;
  width: 48%;
  transform: translate(0px, -170px);
  padding: 30px;
  h3{
    font-size: 48px;
    font-family: "Roboto", sans-serif;
  }
  label{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: block;
    padding: 15px 0;
  }
  input{
    width: 100%;
    border: none;
    border-bottom: 3px solid white;
    background-color: black;
  }
  textarea{
    width: 466px;
    height: 100px;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 3px solid white;
  }
  button{
    color: black;
    background-color: white;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 10px 30px;
    border: none;
    width: 100%;
    margin: 20px 0;
  }
  p{
    font-size: 18px ;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 20px 0;
  }
  a{
    color: white;
    text-decoration: underline;
  }
}
.e-mail{
  padding: 30px 0;
}
iframe{
  border: 0;
  width: 52%;
  height: 600px;
  transform:translate(0px, -170px) ;
}




