@media only screen and (max-width: 900px){
  .happiness-card{
    width: 66%;
    h3{
      font-size: 55px;
    }
  }
  .tractor-card {
    width: 60%;
    transform: translate(0, -5px);
    h3{
      font-size: 75px;
    }
  }
  .sec-5{
    .row{
      justify-content: space-around;
    }
  }
  .contact-cards {
    width: 40%;
  }
  .contact-info textarea{
    width: 350px;
  }
  .sec-4{
    .row{
      justify-content: space-around;
    }
  }
  .coach{
    width: 48%;
  }
  .coach-info{
    width: 48%;
  }
  .coach-benefits{
    p{
      margin: 20px 0;
    }
  }
  .office-card{
    h3{
      font-size: 45px;
    }
  }
}
@media only screen and (max-width: 750px){
  .happy{
    justify-content: center;
    img{
      width: 80%;
    }
  }
  .happiness-card {
    width: 66%;
    transform: translate(50px, -115px);
  }
  .contact-info{
    width: 87%;
    margin: auto;
    textarea{
      width: 100%;
    }
  }
  iframe {
    width: 87%;
    margin: auto;
  }
  .coach{
    width: 80%;
  }
  .coach-info{
    width: 80%;
  }
  .office-card {
    width: 66%;
    align-self: flex-end;
  }
}
@media only screen and (max-width: 650px){
  .my-banner1{
    background: linear-gradient(90deg, rgb(255, 255, 255) 44%, rgb(194, 161, 131) 37%, rgb(194, 161, 131) 114%, rgb(255, 255, 255) 87%, rgb(255, 255, 255) 46%);
  }
  .happy img {
    width: 90%;
  }
  .happiness-card {
    width: 69%;
    transform: translate(24px, -98px);
  }
  .happiness-card {
    width: 75%;
    transform: translate(30px, -80px);
    h3{
      font-size: 40px;
    }
  }
  .tractor-card {
    width: 57%;
    transform: translate(-50px, 20px);
    h3{
      font-size: 55px;
    }
  }
  .contact-cards {
    width: 63%;
  }
}
@media only screen and (max-width: 550px){
  .tractor-card {
    width: 61%;
    transform: translate(-13px, 20px);
  }
  .tractor{
    img{
      width: 90%;
    }
  }
  .sec-4 h3 {
    font-size: 45px;
  }
  .office-card {
    width: 66%;
    align-self: center;
    h3{
      font-size: 32px;
    }
  }
}